﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <meta name="description" content="" />

    <!-- Canonical SEO -->
    <link rel="canonical" href=''>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />

    @await Html.PartialAsync("Sections/_CoreStyles")


    <!-- Vendor Styles -->
    @RenderSection("VendorStyles", required: false)

    <!-- Page Styles -->
    @RenderSection("PageStyles", required: false)

    <!-- Include Scripts for customizer, helper, analytics, config -->
    @await Html.PartialAsync("Scripts/_ScriptsIncludes")

</head>
<body>
    @RenderBody()
    
    
    <!-- Core Scripts -->
    @await Html.PartialAsync("Scripts/_Scripts")

    <!-- Vendor Scripts -->
    @RenderSection("VendorScripts", required: false)


  

    <!-- Main JS-->
    <script src='~/js/main.js'></script>

    <!-- Page Scripts-->
    @RenderSection("PageScripts", required: false)

    </body>
</html>